## Entrega da atividade da aula 8

# Desafio Nintendo

In [68]:
import pandas as pd

### Criar um dataframe com o arquivo best-selling_game_consoles.xlsx

In [69]:
dfnintendo = pd.read_excel("best-selling_game_consoles.xlsx", sheet_name="consoles")
dfnintendo.head()

,Console Name,Type,Company,Released Year,Discontinuation Year,Units sold (million),Remarks
0,PlayStation 2,Home,Sony,2000,2013,155.00,Final sales are greater than 155 million
1,Nintendo DS,Handheld,Nintendo,2004,2013,154.02,NaN
2,Nintendo Switch,Hybrid,Nintendo,2017,0,122.55,NaN
3,Game Boy,Handheld,Nintendo,1989,2003,64.42,The Game Boy (1989) and the Game Boy Color (19...
4,Game Boy Color,Handheld,Nintendo,1998,2003,44.06,NaN

### Substituir a palabra "NES" por "Nintendinho" e colocar todos os nomes dos consoles em maiusculo.

In [70]:
dfnintendo['Console Name'] = dfnintendo['Console Name'].replace('NES', 'Nintendinho')
dfnintendo['Console Name'] = dfnintendo['Console Name'].str.upper()
dfnintendo.head()

,Console Name,Type,Company,Released Year,Discontinuation Year,Units sold (million),Remarks
0,PLAYSTATION 2,Home,Sony,2000,2013,155.00,Final sales are greater than 155 million
1,NINTENDO DS,Handheld,Nintendo,2004,2013,154.02,NaN
2,NINTENDO SWITCH,Hybrid,Nintendo,2017,0,122.55,NaN
3,GAME BOY,Handheld,Nintendo,1989,2003,64.42,The Game Boy (1989) and the Game Boy Color (19...
4,GAME BOY COLOR,Handheld,Nintendo,1998,2003,44.06,NaN

### Mostre o nome dos consoles com data de release depois de 2010

In [71]:
filtro = dfnintendo['Released Year'] > 2010
dfnintendo_filtrado = dfnintendo[filtro]
dfnintendo_filtrado

,Console Name,Type,Company,Released Year,Discontinuation Year,Units sold (million),Remarks
2,NINTENDO SWITCH,Hybrid,Nintendo,2017,0,122.55,NaN
5,PLAYSTATION 4,Home,Sony,2013,0,117.20,NaN
12,NINTENDO 3DS,Handheld,Nintendo,2011,2020,75.94,NaN
14,XBOX ONE,Home,Microsoft,2013,2020,58.50,Estimated between 51-58.5 million
19,PLAYSTATION 5,Home,Sony,2020,0,30.00,NaN
23,XBOX SERIES X/S,Home,Microsoft,2020,0,18.50,Approximately around 18.5 million
24,WII U,Home,Nintendo,2012,2017,13.56,NaN
25,PLAYSTATION VITA,Handheld,Sony,2011,2019,15.00,Estimated between 10-15 million
33,SUPER NES CLASSIC EDITION,Dedicated,Nintendo,2017,2018,5.28,NaN
35,NES CLASSIC EDITION,Dedicated,Nintendo,2016,2018,3.56,NaN

### De um describe e um info na base, substitua os missing values por "missing"

In [72]:
dfnintendo_filtrado.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, 2 to 35
Data columns (total 7 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Console Name          10 non-null     object
 1   Type                  10 non-null     object
 2   Company               10 non-null     object
 3   Released Year         10 non-null     int64
 4   Discontinuation Year  10 non-null     int64
 5   Units sold (million)  10 non-null     float64
 6   Remarks               3 non-null      object
dtypes: float64(1), int64(2), object(4)
memory usage: 640.0+ bytes

In [73]:
dfnintendo_filtrado.describe()

       Released Year  Discontinuation Year  Units sold (million)
count      10.000000             10.000000             10.000000
mean     2015.000000           1211.200000             46.009000
std         3.464102           1042.435375             45.297622
min      2011.000000              0.000000              3.560000
25%      2012.250000              0.000000             13.920000
50%      2014.500000           2017.500000             24.250000
75%      2017.000000           2018.750000             71.580000
max      2020.000000           2020.000000            122.550000

In [74]:
dfnintendo_filtrado = dfnintendo_filtrado.fillna('missing')
dfnintendo_filtrado

,Console Name,Type,Company,Released Year,Discontinuation Year,Units sold (million),Remarks
2,NINTENDO SWITCH,Hybrid,Nintendo,2017,0,122.55,missing
5,PLAYSTATION 4,Home,Sony,2013,0,117.20,missing
12,NINTENDO 3DS,Handheld,Nintendo,2011,2020,75.94,missing
14,XBOX ONE,Home,Microsoft,2013,2020,58.50,Estimated between 51-58.5 million
19,PLAYSTATION 5,Home,Sony,2020,0,30.00,missing
23,XBOX SERIES X/S,Home,Microsoft,2020,0,18.50,Approximately around 18.5 million
24,WII U,Home,Nintendo,2012,2017,13.56,missing
25,PLAYSTATION VITA,Handheld,Sony,2011,2019,15.00,Estimated between 10-15 million
33,SUPER NES CLASSIC EDITION,Dedicated,Nintendo,2017,2018,5.28,missing
35,NES CLASSIC EDITION,Dedicated,Nintendo,2016,2018,3.56,missing

### Filtre os consoles que foram descontinuados a menos de 2 anos da data de release

In [75]:
consoles_descontinuados = dfnintendo_filtrado[dfnintendo_filtrado['Discontinuation Year'].astype(int) - dfnintendo_filtrado['Released Year'].astype(int) < 2]

In [76]:
consoles_descontinuados_2_anos = consoles_descontinuados[consoles_descontinuados['Discontinuation Year'].astype(int) != 0]

In [77]:
consoles_descontinuados_2_anos

,Console Name,Type,Company,Released Year,Discontinuation Year,Units sold (million),Remarks
33,SUPER NES CLASSIC EDITION,Dedicated,Nintendo,2017,2018,5.28,missing